@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 113px;

  div.name_logo {
    display: flex;
    align-items: center;
    gap: 9px;
    font-family: "Volkhov", serif;
  }

  nav {
    position: relative;
    ul.desktop_nav {
      display: none;
    }
  }
  button.sign {
    display: none;
  }
  ul.mobile_nav {
    display: none;
    position: absolute;
    right: -40px;
  }
  img.burger_svg:hover ~ ul.mobile_nav {
    display: block;
  }
  ul {
    list-style: none;
    background-color: rgb(255, 255, 255);
    a {
      color: #222222;
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

button.sign {
  width: 160px;
  height: 49px;
  background-color: #fa7436;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px #fa74363d;
}

/* section first */
section.first {
  display: flex;
  flex-direction: column;
  margin-top: 80px;

  div.first_paragraph {
    padding: 0 0 0 30px;
    margin-bottom: 87px;
    h2 {
      width: 340px;
      font-weight: 700;
      font-size: 48px;
      line-height: 70px;
      font-family: "Volkhov", serif;
    }
    p {
      width: 324px;
      font-size: 20px;
      font-weight: 400;
      line-height: 40px;
      color: #666666;
      margin-top: 23px;
      margin-bottom: 43px;
    }
  }
}

@media screen and (min-width: 1300px) {
  header {
    nav {
      ul.desktop_nav {
        display: flex;
        gap: 32px;
      }
      img.burger_svg {
        display: none;
      }
    }
    button.sign {
      display: block;
    }
  }
  section.first {
    flex-direction: row;
    justify-content: center;
    gap: 49px;

    div.first_paragraph {
      h2 {
        width: 536px;
        font-size: 64px;
      }
      p {
        width: 496px;
        margin-top: 40px;
        margin-bottom: 35px;
      }
    }
  }
  img.man {
    width: 741px;
    height: 485px;
  }
}
