@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 113px;

  div.name_logo {
    display: flex;
    align-items: center;
    gap: 9px;
  }

  nav {
    position: relative;
    ul.desktop_nav {
      display: none;
    }
  }
  div.sign_up {
    display: none;
  }
  ul.mobile_nav {
    display: none;
    position: absolute;
    right: -40px;
  }
  img.burger_svg:hover ~ ul.mobile_nav {
    display: block;
  }
  ul {
    list-style: none;
    background-color: rgb(255, 255, 255);
    a {
      color: #222222;
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
div.sign_up {
  button {
    width: 160px;
    height: 49px;
    background-color: #fa7436;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
  }
}

@media screen and (min-width: 1150px) {
  header {
    nav {
      ul.desktop_nav {
        display: flex;
        gap: 32px;
      }
      img.burger_svg {
        display: none;
      }
    }
    div.sign_up {
      display: block;
    }
  }
}
