@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 113px;

  div.name_logo {
    display: flex;
    align-items: center;
    gap: 9px;
    font-family: "Volkhov", serif;
  }

  nav {
    position: relative;
    ul.desktop_nav {
      display: none;
    }
  }
  button.sign {
    display: none;
  }
  ul.mobile_nav {
    display: none;
    position: absolute;
    right: -40px;
  }
  img.burger_svg:hover ~ ul.mobile_nav {
    display: block;
  }
  ul {
    list-style: none;
    background-color: rgb(255, 255, 255);
    a {
      color: #222222;
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

button.sign {
  width: 160px;
  height: 49px;
  background-color: #fa7436;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px #fa74363d;
}

/* section first */
section.first {
  display: flex;
  flex-direction: column;
  margin-top: 80px;

  div.first_paragraph {
    padding: 0 0 0 30px;
    margin-bottom: 87px;
    h2 {
      width: 340px;
      font-weight: 700;
      font-size: 48px;
      line-height: 70px;
      font-family: "Volkhov", serif;
      color: #222222;
    }
    p {
      width: 324px;
      font-size: 20px;
      font-weight: 400;
      line-height: 40px;
      color: #666666;
      margin-top: 23px;
      margin-bottom: 43px;
    }
  }
}

/* section second */
section.second {
  width: 100%;
  height: 279px;
  background-color: #f7f8fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3px;
  margin-top: 43px;
  h2 {
    font-size: 48px;
    font-weight: 700;
    font-family: "Volkhov", serif;
    color: #222222;
    width: 395px;
  }
  p {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    width: 365px;
    line-height: 32px;
  }
}

/* section third */
section.third {
  background-color: #fefbfb;
  display: flex;
  flex-direction: column;
  padding-top: 43px;
  padding-bottom: 80px;

  div.third_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 38px;
    h2 {
      font-size: 48px;
      font-weight: 700;
      width: 331px;
      font-family: "Volkhov", serif;
      color: #222222;
    }
    p.text {
      width: 400px;
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      color: #666666;
      margin-bottom: 54px;
    }
  }
  div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    div.card {
      width: 306px;
      height: 420px;
      background-color: white;
      border-radius: 5px;

      img {
        width: 306px;
        height: 212px;
        border-radius: 5px;
      }
      div.card_text {
        padding: 24px 28px;
        font-family: "Public Sans", sans-serif;

        span {
          color: #9597a5;
          font-size: 10px;
          font-weight: 400;
          letter-spacing: -0.16px;
        }
        h3 {
          color: #2d314d;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: -0.29px;
          margin-top: 10px;
          margin-bottom: 8px;
        }
        p {
          color: #9597a5;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: -0.2px;
          line-height: 18px;
        }
      }
    }
  }
}

/* responsive */
@media screen and (min-width: 1300px) {
  header {
    nav {
      ul.desktop_nav {
        display: flex;
        gap: 32px;
      }
      img.burger_svg {
        display: none;
      }
    }
    button.sign {
      display: block;
    }
  }
  section.first {
    flex-direction: row;
    justify-content: center;
    gap: 49px;

    div.first_paragraph {
      h2 {
        width: 536px;
        font-size: 64px;
      }
      p {
        width: 496px;
        margin-top: 40px;
        margin-bottom: 35px;
      }
    }
  }
  img.man {
    width: 741px;
    height: 485px;
  }
  section.second {
    height: 352px;
    gap: 43px;
    margin-top: 148px;
    h2 {
      width: 521px;
    }
    p {
      width: 482px;
    }
  }
  section.third {
    padding-top: 114px;
    padding-bottom: 150px;

    div.third_text {
      gap: 23px;
      h2 {
        width: 432px;
      }
      p.text {
        width: 521px;
        margin-bottom: 94px;
      }
    }
    div.container {
      flex-direction: row;
      justify-content: center;
      gap: 74px;
    }
  }
}
